<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>Canciones Genero</title>
        <!-- Bootstrap -->
  <script language="javascript" src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
    <body>
        <div class="container">
    
        <h1>Canciones Genero</h1>
           <table>
                    <thead>
                        <tr>
                            <th>Canciones</th>
                            <th>Genero</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                         {{#each result}}
                        <tr>
                            <td>{{nombre_cancion}}</td>
                            <td>{{tipo_genero }}</td>
                         
                        </tr>
                       {{/each}}
                    </tbody>
                </table>
          
        </div>
    </body>
</html>